.about-me{
  display: flex;
  flex-direction: column;
  width:80%;
  margin:0 auto;
  background-color: #292929;
  border-radius: 20px;
  padding:20px;
  .about-me__inner{
  display: grid;
  grid-template-columns:1fr  40%;
  gap:40px;

  .about-me__photo-team{
    align-self:center;
  }

}
}
