.header{
  background:url(../image/header/header.jpg)  ;
  height:500px;
  .header__inner{
    background-color: white;
    display: flex;
    padding-left:2%;
    gap:50%;
    .header-logo{
      align-self: center;
    }

    .header-nav-list{
      display: flex;
      gap:7%;
    }
    .header-nav-item{
      list-style-type: none;

    }

    .header-logo{
      font-size: 25px;
      text-transform: uppercase;
      letter-spacing: 2.5px;
    }
  }
}

.header-text__inner{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10%;

  color:white;
}  