section{
    background-color: white;
}
ul{
    list-style-type: none;
    padding:0;
    margin:0;
}
.container{
    width: 90%;
    margin:0 auto;
}
.heading{
    color:#2BA84A;
    margin-bottom: 17px;
}
/* header */
.header section{
    margin-top: 30px;
}
.header-search__inner{
    padding:20px 0px;
    display: flex;
    justify-content: space-between;
}

.header-search-nav-list{
    display: flex;
    gap:20px;
    
}
.header-search-link{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #2D3A3A;
    text-decoration: none;

}

.header-search-input{
    border: 1px solid #2D3A3A;
    border-radius: 30px;
    width: 212px;
    height: 40px;
}
.header-search-item{
    position: relative;
    right: 14%;   

}

.header-search-LogReg-link{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #2BA84A;
    
}
.catalog-menu-item{
    color: #E4DFC2;
}
.catalog{
    display: flex;
    gap:10px;

}
.catalog-menu-link{
    color: #E4DFC2;
    text-decoration: none;
}
.catalog-link{
    color: #2BA84A;
}
.catalog-header-item-catalog-link{
    text-decoration: none;
    color:white;

    display: flex;
    gap:10px;
}
.header-contacts-item{
    display: flex;
}
.header-contacts-social-link{
    display: flex;
    gap:10px;
    justify-items: center;
    text-decoration: none;
    color:#2D3A3A;

}
.header-contacts-phone-link{
    text-decoration: none;
    color:#2D3A3A;
    display: flex;
    gap:10px;
}

.header-contacts-phone{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.header-contacts-social{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.close-link{
    margin-top:-1px;

    width:12px;
    height:12px;
    border: solid #2BA84A;
    border-width: 0 3px 3px 0;
    rotate:45deg;
}

.open-link{ 
    margin-top:5px;

    width:12px;
    height:12px;
    border: solid white;
    border-width: 0 3px 3px 0;

    rotate:226deg;
}
.catalog-menu{
    display: none;
    position:absolute;
    margin-left:-3%;
    margin-top:4%;
    width:95%;
    height:500px;
}
.catalog-menu__inner{
    width:100%;
    margin:0 auto;
    padding:50px 30px;
    background-color: white;
}
.open-menu{
    display: block;
    position:absolute;
    margin-left:-3%;
    margin-top:4.5%;
    width:95%;
    height:500px;
}

.catalog-header-item-link{
   
}

.catalog-menu-item{
    color: #2D3A3A;
    text-decoration: none;
}
.catalog-menu-link{
    color:#2BA84A;
    margin-bottom: 20px;
    text-decoration: none;

    font-weight: bold;
}
.catalog-menu-list{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    
}

.catalog-header-link{
    text-decoration: none;
    color:#E4DFC2;
}


.basket-item{
    color: #2BA84A;
}



.catalog-menu-block-item{
    display: flex;
    flex-direction: column;
    gap:5px;
    color:#E4DFC2;
}

.header-search-LogReg{
    display: flex;
    gap:20px;
}

.header-contacts-social{
    display: flex;
    flex-direction: column;
}


.header-contacts-phone{
    margin-top: 10px;
    display: flex;
    flex-direction: column; 
}

.purshare-call{
    background-color: #FF5F01;
    padding:11px 30px;
    border-radius: 20px 0px;
}
.purshare-call-link{
    color:white;
    text-decoration: none;
}
.call-free{
    font-size: 13px;
}

.header-contacts__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.catalog-header{
    background-color: #2D3A3A;
    padding:30px 0px;
    color:white;
}
.catalog-header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.catalog-header-list{
    display: flex;
    gap:20px;}
/* -------------- */

.basket-blog{
  
}
.basket{
    margin: 200px 0px;


}
.basket-nav{
    margin-bottom: 23px;
}
.basket-price-card{
    width:96%;
    margin:0 auto;
}
.basket-nav-list{
    display: flex;
    gap:20px;
}
.basket-nav-list-item__button{
    cursor: pointer;
    
}

.basket-description__container{
    display: flex;
    gap:84px;
}

.basket-description-list{
    display: flex;
    justify-content:space-between;

    padding:22px 11px;
    background-color:#E4E7E7;
}



.basket-price-description{
    display: flex;
    justify-content:space-between;
    margin-top: 20px;

    border-bottom: 1px solid #E4E7E7;
    
}

.basket-price-description__container{
    display: flex;
    align-self: center;
    gap:90px;
}
.basket-price-icon{
    margin-left: 60%;
}

.basket-price-description-package-name{
    align-self: center;
    margin-left: 30px;
}
.basket-price-mount{
    cursor:pointer;
    display: flex;
    gap:20px;
    justify-content: center;
    justify-items: center;
    font-weight: bold;
}
.basket-price-price{
    align-self: center;
    display: flex;
    flex-direction: column;
}
.bag-basket-price-block{
    display: flex;
}
.bag-price-block{
    display:flex;
}
.mount-link{
    color:white;
    text-decoration: none;
    background-color: #FF5F01;
    padding:11px 30px;
    border-radius:20px 0;
}

.mount-product{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.mount-product-container{
    display: flex;
    gap:30px;
}

/* --------- */
.footer{
    background-color: #2D3A3A;
    padding: 139px 0;
}

.footer__inner{
    display: grid;
    grid-template-columns:repeat(4,20%);
    justify-content: center;
    grid-gap:5%;
}
.footer-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap:8px;
}


.footer-list-logo{
    align-self: end;
}

.footer-list-purshare{
    display: flex;
    flex-direction: column;
    align-self: end;
}

.footer-list-item-icons{
    display: flex;
    margin-right: 12px;
}


.footer-list-contacts{
    display:flex;
}
.footer-list-item{
    color: #E5E5E5;
}
.footer-list-item-heading{
    color: #2BA84A;
}
