.portfolio__slider{
  display: flex;
  gap:40px;
  background-color: #292929;
  border-radius: 29px;

  padding:20px;
  .portfolio__slider-image{
    width:100%;
    height:100%;
    align-self: center;
    .slider-photo__start{
      border-radius:29px;
    }
  }

  .portfolio__slider-text{
    width:70%;
    text-align: center;
  }
}

.portfolio-heading{
  text-align: center;
}

.slider-button {
  padding:10px;
  align-self: center;
  width:210px;
  height:90px;

  border-radius: 100%;

  background-color: #E2A300;

  margin:20px;
}

.left-button::before{
  content:"";
  display: block;
  width: 20px;
  height: 20px;
  border-top: 10px solid white;
  border-right: 10px solid white;
  margin-right: 60px;

  rotate: 220deg;

  position: relative;
  top:23px;
  left:30px;


}

.right-button::before{
  content:"";
  display: block;
  width: 20px;
  height: 20px;
  border-top: 10px solid white;
  border-right: 10px solid white;
  margin-right: 60px;

  rotate: 400deg;

  position: relative;
  top:23px;
  left:30px;

}