.news__inner{
  display: grid;
  grid-template-columns:1fr  25%;
  .aside-rigth{
    margin-top: 5%;
    .aside__inner{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 40px;
      
    .about-author__inner{
      display: flex;
      flex-direction: column;
      gap:20px;

      .about-author-heading{
        background-color: none;
      }

      .info-author{
        display: flex;
        flex-direction: column;
        justify-content: center;

        border:1px solid  rgba(17, 34, 51,0.1);
        border-radius: 5px;
   

  
        .about-author-text{
          text-align: center;
  
          .about-author-link{
            padding: 15px;
            border: 1px solid #E5E5E5;
            display: block;
          } 
      }
      }
    }
    .featured-post-list{
      display: grid;
      grid-template-columns:1fr;
      grid-gap: 20px;
      .featured-post-item{
        width:100%;
        border:1px solid  rgba(17, 34, 51,0.1);
        border-radius: 5px;
        background-color:white;

        .featured-post-item-text{
          text-align: center;
        }

        .featured-post-photo{
          width:110%;
        }
      }
    }

    .aside-categories-list{
      list-style-type: none;
      margin:0;
      padding:0;

      .categories-abbreviature{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #E5E5E5;
        .categories-abbreviature-amount{
          align-self: center;
        }
      }
    }
  
  .aside-social{
    width:105%;
    .aside-social-cards{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;      
      grid-gap: 10px;
      .aside-social-card{
        display: flex;
        flex-direction: column;
        gap:13px;
        text-align: center;
        background-color:#F8F9FA;
        padding:15px;

        .icon-social{
          align-self: center;
        }

        .aside-social-mount{
          align-self: center;
          font-size: 15px;
          line-height: 10px;
      
        }
        .aside-social-like{
          font-weight: bold;
          text-transform: uppercase;
        }
        p{
          padding:0;
          margin:1px;
        }
        .amount-likeAndSub{
          display: flex;
          flex-direction: column;
          gap:5px;
        }
    }
    }
  
  }
  }
}
.aside-tags-cards{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  .tag-card-name{
    padding:20px;
    text-align: center;
    background: #F8F9FA;

  }
}

  .news-list{
    display: grid;
    grid-template-columns:40% 40%;
    grid-gap: 20px;
   
  }

  .hot-news{
    grid-column-start: 1;
    grid-column-end: 3;

    .hot-news-text{
      align-self: start;
      text-align: left;
      margin-left: 5%;
    }
  }

  .news-item{
    display: flex;
    flex-direction: column;
    border:1px solid  rgba(17, 34, 51,0.1);
    border-radius: 5px;
    box-shadow: 1px 5px 10px #666666;
    background-color:white;

  }
  .news-item-text{
    align-self: center;
    text-align: center;
    width:80%
  }
  .news-item-name{
    align-self: center;
    color:#C9A96E;

  }

  .news-item-description{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .header-text__substring{
    color:#666666;
  }
}