@import 'main/portfolio/portfolio-style.scss';
@import 'main/skills-cards/skills-cards-style.scss';
@import 'main/about-me//about-me-style.scss';
@import 'header/header.scss';


// Основные стили для странички
@font-face {
  font-family: Coding;
  src: url(../font/all/MPLUSCodeLatin-VariableFont_wdth\,wght.ttf);
}
a{
  text-decoration: none;
}
main{
  section{
  margin-top:150px;
  margin-bottom: 150px;
}
}

.heading{
  font-size: 72px;
  font-weight: 700;
  font-size: 72px;
  line-height: 82px;

  text-transform: uppercase;
}
body{
  font-size: 20px;
  background-color:#3c3c3c;
  color:white;
  font-family:'Coding';
}

.container{
  width:80%;
  margin:0 auto;
}


// -----------------------------