header {
  background-color: rgba(38, 38, 38, 0.3843137255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 150px;
}
header a {
  color: white;
}
header .header-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header-list .header-list__item-link:hover {
  color: #00C4F0;
}
header .header-hello__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header-hello__inner .header-hello__text {
  width: 50%;
}
header .header-hello__inner .header-hello__image-border {
  border: 30px solid #00C4F0;
  border-radius: 60%;
  -webkit-filter: drop-shadow(0px 0px 152px rgba(0, 196, 240, 0.42));
          filter: drop-shadow(0px 0px 152px rgba(0, 196, 240, 0.42));
}
header .header-hello__inner .cards {
  z-index: 1;
}
header .header-hello__inner .cards .code-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
  color: #00C4F0;
  border: 1px solid #2D2D2D;
  border-radius: 100%;
  width: 10%;
  height: 40px;
  padding: 24px;
  text-transform: uppercase;
  font-size: 34px;
  position: relative;
  top: -330px;
}
header .header-hello__inner .cards .ui {
  position: relative;
  right: -82%;
  top: -470px;
}
header .header-hello__inner .cards .code {
  position: relative;
  top: -350px;
  right: 40px;
}
header .header-hello__inner .cards .ux {
  top: -370px;
  right: 65px;
}
header .header-hello__inner .cards .ps {
  right: -40px;
}

@font-face {
  font-family: Coding;
  src: url(../font/all/MPLUSCodeLatin-VariableFont_wdth\,wght.ttf);
}
a {
  text-decoration: none;
}

.heading {
  font-size: 72px;
  font-weight: 700;
  font-size: 72px;
  line-height: 82px;
}

body {
  font-size: 20px;
  background-color: #2a2a2a;
  color: white;
  font-family: "Coding";
}

.container {
  width: 80%;
  margin: 0 auto;
}