/* мобильные элементы */
.mobile-nav__inner{
  display: none;
  position: fixed;
  z-index: 1;
  right:2px;
  padding: 20px;
}
.mobile-button{
  cursor: pointer;
  width:100px;
  height:10px;

  background-color:white;
  display: flex;
  flex-direction: column;
  gap:10px;
}
.mobile-button::before{
  content:"-";
  width:100px;
  height:10px;

  background-color: green;

  position: relative;
  top:40px;
}

.mobile-button::after{
  content:"-";
  width:100px;
  height:10px;

  background-color: yellow;
}
#mobile-list{
  display: none;
}
/* ------------------ */
/* Общие стили */
body{
  background-color:#1F2235;
}
section:not(.header-text){
  margin-top:200px;
  margin-bottom: 200px;
}
.container{
  width:90%;
  margin:0 auto;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.section-heading:not(.FuraCrew-heading){
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
/* ----------- */

/* Работа со шрифтами */
@font-face {
  font-family: opensans;
  src: url(../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}

@font-face{
  font-family:HeadingFont;
  src:url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

h1,h2,p,a{
  font-family:opensans;

  letter-spacing: 1px;
  font-size: 1.8em;

  color:white;
  
}
h1,h2{
  font-family:HeadingFont;
}

/* ------------------ */

/* Стили для header */
.header{
  background-color: #171929;
  padding:30px 0px;
}
.header__inner{
  display: flex;
  flex-direction: column;

  grid-gap:130px;
  
}
.header-nav{
  display: flex;
  justify-content: space-between;

  font-family:serif;
}
.header-list{
  align-self: center;
  display: flex;
  justify-content: flex-end;
  gap:20px;

}
.header-logo{
  width:40%;
}
.header-list-link:hover{
  opacity:0.3;
  color:#FE461C;
}
.header-text__inner{
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 100px;
}
.header-text-hello{
  color:#FE461C;
}
.header-text-link{
  display: flex;
  flex-direction: column;
  gap:10px;
}

.photo-team{
  border-radius: 10px;
}

.header-link{
  width:50%;
  padding:10px 0px;

  border:1px solid white;
  font-size: 1.3em;
  text-align: center;

}

.header-link:hover{
  transition-duration: 0.3s;
  border:1px solid #FE461C;
  background-color: #FE461C;

  box-shadow: 0px 0px 30px yellow;

}

.header-photo-border{
  display: flex;
  flex-direction: column;
  justify-content: center;  
  
}
.header-photo-team{
  align-self: center;
}
.photo-team{
  align-self: center;
  
}

/* --------------- */

/* ---- О нас ---- */
.Who-Are-We{
  background: url(../image/parolax.jpg);
  margin-bottom: 100px;
  padding:100px  0px;

  perspective: 1px;
}
.who-are-we__inner{
  display: grid;
  grid-template-columns:40% 50%;
  justify-content:space-between;
  align-items: center;

  transform: translateZ(-2px);
}

.who-are-we-photo{
  background-color:#171929;

  height:300px;

  border:10px solid #FE461C;
  box-shadow: 1px 0 100px yellow;
  border-radius: 3px;
}
.who-are-we-story{
  justify-self:center;
}
/* --------------- */

/* ---Портфолио--- */
.portfolio{
  background-color: #171929;

  padding:100px 0px;
}
.portfolio__container{
  display: flex;
  flex-direction: column;
  gap:50px;
}
.portfolio-nav{
  margin-top: 50px;
  margin-bottom: 100px;
}
.portfolio-nav-list{
  display: flex;
  justify-content: center;
  gap:5%;
}

.portfolio-list-item{

}

.portfolio-list-link:hover{
  color:#FE461C;
}

.portfolio-gallery__inner{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  gap:40px;
}

.portfolio-gallery-card{
  background-color:#1F2235;

  display: grid;
  grid-template-columns: 1fr;
  gap:40px;

}

.portfolio-gallery-card-text{
  padding:20px;
}

.portfolio-image{
  max-width: 100%;
}

/* --------------- */

/* --Наши услуги-- */
.our-services-list{
  display: grid;
  grid-template-columns:repeat(2,40%);
  justify-items: center;
  justify-content: center;
  grid-column-gap: 40px;
  grid-row-gap: 60px;
}

.our-services-card-description{
  
}

.our-services-item{
  justify-self:stretch;
  display:grid;
  grid-template-columns:1fr;
  align-content:space-between;
  padding:10px 25px;
  background-color: #171929;
}

.our-services-card-icons{
  justify-self: center;
}

.our-services-NameCard{
  justify-self: center;
}
.our-services-card-text{
  justify-self: center;

  align-self:stretch;
}
.our-services-card-more{
  align-self: end;
  justify-self: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  width:70px;
  height:70px;
  border-radius: 50%;
  background-color: #1F2235;
}
.icon-arrow{
  align-self: center;
}
.our-services-card-more:hover{
  background-color:#FE461C;

  width:90px;
  height:90px;
}

/* ------------- */


/*-Исполнители--*/
.resume{
  background-color: #171929;
  padding:100px;
}
.static-team-cards{
  display: grid;
  grid-template-columns:repeat(2,40%);
  gap:40px;
  justify-items: center;
  justify-content: center;
}

.static-team-card-who{
  display: flex;
  justify-content: space-around;
  gap:50px;
}
.static-team-card{
  background-color: #1F2235;
  padding:20px;
}
.static-team-card-blockquote{
  margin-top: 5%;
  align-self:center;
}
.static-team-card-who-description{
  color:white;
  font-family:HeadingFont;
  margin-left: 10%;
  
}

.line{
  background-color: white;
  width:100%;
  height:2px;

  margin-bottom: 10px;
  margin-top: 10px;
}
/* ----------- */

/* последние заказы */
.Latest-Orders{
  background-color: #171929;

  padding:20px;
}
.Latest-Orders-cards{
  display: grid;
  grid-template-columns:repeat(2,1fr);
  gap:40px;

  justify-items: center;
}

.Latest-Orders-card{
  background-color:#1F2235;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 10px;
  padding:20px;
  
}
.Latest-Orders-image{
  max-width: 100%;
}
.Latest-Orders-card-description{
  color:white;
  font-size: 20px;
  letter-spacing: 10px;
  font-family:HeadingFont;

  text-align: center;

  background-color: rgba(1,1,1,0.2);
  padding:40px;

  padding:20px;

  margin-top: -28%;

  position: relative;

}
.Latest-Orders-card-more{
  background-color:#171929;
  padding:5px;
  margin-top: 10%;

  justify-items: center;
  align-self: center;
}
/* ---------------- */

/*-Контакты---*/
footer{
  background-color:gray;
}
/*-----------*/