.header {
  background-image: url(../image/header/header.jpg);
  height: 500px;
}
.header .header__inner {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5%;
  gap: 60%;
}
.header .header__inner .header-logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.header .header__inner .header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10%;
}
.header .header__inner .header-nav-item {
  list-style-type: none;
}
.header .header__inner .header-logo {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.header-text__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 10%;
  color: #353535;
}

.news__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25%;
  grid-template-columns: 1fr 25%;
}
.news__inner .aside-rigth .aside__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}
.news__inner .aside-rigth .aside__inner .about-author__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.news__inner .aside-rigth .aside__inner .about-author__inner .about-author-heading {
  background-color: none;
}
.news__inner .aside-rigth .aside__inner .about-author__inner .info-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(17, 34, 51, 0.1);
  border-radius: 5px;
}
.news__inner .aside-rigth .aside__inner .about-author__inner .info-author .about-author-text {
  text-align: center;
}
.news__inner .aside-rigth .aside__inner .about-author__inner .info-author .about-author-text .about-author-link {
  padding: 15px;
  border: 1px solid #E5E5E5;
  display: block;
}
.news__inner .aside-rigth .aside__inner .featured-post-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.news__inner .aside-rigth .aside__inner .featured-post-list .featured-post-item {
  width: 100%;
  border: 1px solid rgba(17, 34, 51, 0.1);
  border-radius: 5px;
}
.news__inner .aside-rigth .aside__inner .featured-post-list .featured-post-item .featured-post-item-text {
  text-align: center;
}
.news__inner .aside-rigth .aside__inner .featured-post-list .featured-post-item .featured-post-photo {
  width: 110%;
}
.news__inner .aside-rigth .aside__inner .aside-categories-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.news__inner .aside-rigth .aside__inner .aside-categories-list .categories-abbreviature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #E5E5E5;
}
.news__inner .aside-rigth .aside__inner .aside-categories-list .categories-abbreviature .categories-abbreviature-amount {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.news__inner .aside-rigth .aside__inner .aside-social {
  width: 105%;
}
.news__inner .aside-rigth .aside__inner .aside-social .aside-social-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 10px 1fr 10px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.news__inner .aside-rigth .aside__inner .aside-social .aside-social-cards > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.news__inner .aside-rigth .aside__inner .aside-social .aside-social-cards > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.news__inner .aside-rigth .aside__inner .aside-social .aside-social-cards > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.news__inner .aside-rigth .aside__inner .aside-social .aside-social-cards > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.news__inner .aside-rigth .aside__inner .aside-social .aside-social-cards > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.news__inner .aside-rigth .aside__inner .aside-social .aside-social-cards > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.news__inner .aside-rigth .aside__inner .aside-social .aside-social-cards > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.news__inner .aside-rigth .aside__inner .aside-social .aside-social-cards > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.news__inner .aside-rigth .aside__inner .aside-social .aside-social-cards > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.news__inner .aside-rigth .aside__inner .aside-social .aside-social-cards .aside-social-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #F8F9FA;
  padding: 15px;
}
.news__inner .aside-rigth .aside__inner .aside-social .aside-social-cards .aside-social-card .icon-social {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.news__inner .aside-rigth .aside__inner .aside-social .aside-social-cards .aside-social-card .aside-social-mount {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.news__inner .aside-rigth .aside__inner .aside-social .aside-social-cards .aside-social-card p {
  padding: 0;
  margin: 1px;
}
.news__inner .aside-tags-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 10px 1fr 10px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.news__inner .aside-tags-cards > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.news__inner .aside-tags-cards > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.news__inner .aside-tags-cards > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.news__inner .aside-tags-cards > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.news__inner .aside-tags-cards > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.news__inner .aside-tags-cards > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.news__inner .aside-tags-cards > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.news__inner .aside-tags-cards > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.news__inner .aside-tags-cards > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.news__inner .aside-tags-cards .tag-card-name {
  padding: 20px;
  text-align: center;
  background: #F8F9FA;
}
.news__inner .news-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 20px 40%;
  grid-template-columns: 40% 40%;
  grid-gap: 20px;
}
.news__inner .hot-news {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}
.news__inner .hot-news .hot-news-text {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-align: left;
  margin-left: 5%;
}
.news__inner .news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(17, 34, 51, 0.1);
  border-radius: 5px;
  -webkit-box-shadow: 1px 5px 10px #666666;
          box-shadow: 1px 5px 10px #666666;
}
.news__inner .news-item-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  width: 70%;
}
.news__inner .news-item-name {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #C9A96E;
}
.news__inner .news-item-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
.news__inner .header-text__substring {
  color: #666666;
}

.follow-inst-heading {
  text-align: center;
}

.follow-inst-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  margin-left: 2%;
}

.follow-inst-gallery > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.follow-inst-gallery .follow-inst-photo {
  width: 17%;
}
.follow-inst-gallery .follow-inst-last-photo {
  width: 12%;
  height: 98%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  margin-top: 100px;
}

.follow-inst-heading {
  text-transform: uppercase;
}

.footer-nav-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  text-transform: uppercase;
}

.footer-nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.footer-social-border-icon {
  padding: 30px;
  width: 20px;
  height: 10px;
  background: rgba(17, 34, 51, 0.3);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social-border-icon:hover {
  background: rgb(17, 34, 51);
}

.footer-icon {
  color: white;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: none;
  color: #C9A96E;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  height: 10000px;
}

.aside-heading {
  padding: 15px;
  border: 1px solid #E5E5E5;
  text-align: center;
  margin-bottom: 5px;
}

.aside-link {
  text-decoration: none;
  color: #C9A96E;
}

.aside-link:hover {
  color: black;
}