@import 'header/header';
@import 'news/news';
@import 'followInst/followInst';
@import 'footer/footer';
// Общие стили
.link{
  text-decoration: none;
  color:black;
}

.link:hover{
  text-decoration: none;
  color:#C9A96E;
}

.container{
  width:90%;
  margin:0 auto;
}

body{
  height:10000px;
  background-color:white;
  font-family: sans-serif;
}

.aside-heading{
  padding:15px;
  border:1px solid #E5E5E5;
  text-align: center;

  margin-bottom:5px;
}

.aside-link{
  text-decoration: none;
  background-color: white;
  color:#C9A96E;
}

.aside-link:hover{
  color:black;
}
// работа с шрифтами
@font-face {
  // шрифт для логотипа
  font-family: LogoFont;
  src: url(../fonts/logo/KaushanScript-Regular.ttf);
}
body{
  font-family: sans-serif;
}
.logo-link{
  font-family:LogoFont;
}
p{
  font-size: 17px;
  letter-spacing: 1.0px;
}
.name-article{
  font-size: 40px;
  font-weight: normal;
}

.link{
  font-size: 20px;
}
// -----------