body{
  margin:0px;
  padding: 0px;

  font: 1em sans-serif;
}
img{
  max-width: 100%;
}
header{
  background-color:aliceblue;
}
.header-logo{
  display: flex;
  flex-direction: row;

}
.header-logo__text{
  display: flex;
  flex-direction: column;
  align-self: center;
}
.header-nav{
  background-color: none;
}

.header-list{
  display: flex;
  list-style-type: none;
}

.header-item__link{
  text-decoration: none;
}