.follow-inst-heading{
  text-align: center;
}

.follow-inst-gallery{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-left: 2%;

  .follow-inst-photo{
    width:17%;
  }
  .follow-inst-last-photo{
    width:12%;
    height:98%;
    object-fit: cover;
  }
}